################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlugraryDetectionSystem/v16
/.vs
/BlugraryDetectionSystemApi/obj
/BlugraryDetectionSystemApi/bin/Debug/netcoreapp2.1
